header.site-header

  a(href="/" class="logo") 
    img(src="/images/cake.svg" alt="")
    span Desserts by Chris
    
  nav.site-nav
    a(href="/about.html") About
    a(href="/bread.html") Pudding of the Day
    a(href="/contact.html") Contact